body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Inter";
    height:100vh;
    position:relative;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 96px;
    letter-spacing:8 px;
}

.fire-icon {
    width:64px;
    height:auto;
    transform: translate(20%,40%)
}

nav {
    position:absolute;
    top:30px;
    right:40px;
}

.header {
    color:white;
    text-decoration: none;
    margin-left:24px;
    font-size:14px;
}

#instagram-logo {
    position: fixed;
    bottom:30px;
    left:40px;
}
#instagram-logo img{
    width:32px;
    height:auto;
    display:block;
}